@{
    ViewData["Title"] = "Wedding Info";
}
<h1>The Wedding of @ViewBag.Wedding.WedderOne and @ViewBag.Wedding.WedderTwo</h1>
<h4>Date: @ViewBag.Wedding.WeddingDate</h4>
<h4>Guests:</h4>
@if(ViewBag.Wedding.Attendees.Count > 0)
{
    <ul>
        @foreach(var guest in ViewBag.Wedding.Attendees)
        {
            <li>@guest.Attendee.FirstName @guest.Attendee.LastName</li>
        }
    </ul>
}
else
{   
    <p>No guests have RSVPed for this wedding!</p>
}